.layui-col-space50{margin: 0 -25px}
.layui-col-space50>*{padding:0 25px}
.layui-form-label {
    width: 100px;
}
.layui-input-block {
    margin-left: 130px;
}
.in{
    width: 60%;
}
label.required:after {   /* 给红色的必填项打红色星号（文字后）如果打前面用before*/
    content: ' *';
    color: red;
}
